

      <div class="container" >
	<br />
<br />

<br />
<br />
<br />
<form class="navbar-form navbar-right" role="form">
              <div class="form-group">
                <%= form_tag gists_path, :method => 'get' do %> 
                
                <%= (text_field_tag  :search, params[:search], class:'form-control') %>
                <%= submit_tag "Szukaj", class:'btn btn-success' , :name => nil, :onclick => "$( document ).ready($('a.load-more-posts').remove());"%>
                <% end %>
              </div>
            </form>
<br />
<div>
<%= link_to 'Nowy wpis', new_gist_path, class:'btn btn-primary btn-lg' %>
<div class="btn btn-primary btn-lg" ><a style="color:white;" href="/gists">Home</a></div>
</div>



